@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    transform-style: preserve-3d;
}

body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Poppins',sans-serif;
    background-image: url(images/background_img_4.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    backdrop-filter:blur(3px)
}

.container{
    width:60rem;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1200px;
}

.card{
    transform-style: preserve-3d;
    margin-top:4rem;
    background-color: #c3cbdc;
    background: linear-gradient(147deg, #e6eaeb 0%, #bdaaaa 74%,rgb(192, 166, 166),rgb(209, 157, 157),rgb(218, 133, 133));
    width:38rem;
    min-height: 48rem;
    border-radius: 0.8rem;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2),
                0 0 50px rgba(0,0,0,0.3);
    background-size: 400%;
    background-position:left;
}

.card:hover{
    background-position:right;
}

.img_container{
    height:15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:6rem;
}

.img_container img{
    width:45rem;
    z-index: 2;
    transition:opacity 200ms ease;
}

.img_container .background_shape img{
    width:15rem;
}

.img_container .background_shape{
    width:25rem;
    height:25rem;
    background:linear-gradient(to right,rgb(117, 116, 116),black);
    position:absolute;
    border-radius: 50%;
    z-index:1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left:2rem;
    border:4px solid white;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow:1;
    row-gap:1rem;
}

.info .title{
    font-size:3rem;
    margin-bottom:2rem;
    text-align: center;
    user-select: none;
    
}

.info .slogan{
    font-size:2rem;
    font-weight: 600;
    color:rgb(43, 43, 43);
    user-select: none;
}

.info .colors{
    width:100%;
    display:flex;
    justify-content: center;
    column-gap: 1rem;
    margin-bottom:4rem;
}

.info .colors button{
    width:4rem;
    height:4rem;
    border-radius: 50%;
    border:2px solid black;
    transition: box-shadow 200ms ease,
                scale 200ms ease,
                color 200ms ease;
}

.info .colors button:nth-child(1){
    background-color: rgb(24, 24, 24);
}
.info .colors button:nth-child(2){
    background-color: rgb(225, 225, 225);
}
.info .colors button:nth-child(3){
    background-color: rgb(228, 28, 36);
}
.info .colors button:nth-child(4){
    background-color:rgb(24, 142, 212);
}
.info .colors button:nth-child(5){
    background-color: rgb(218, 184, 51);
}

.info .colors button.color_hover{
    box-shadow:5px 5px 20px rgba(0,0,0,0.3);
    scale:1.2;
    border-color:white;
}

.info .colors button.color_selected{
    box-shadow:5px 5px 20px rgba(0,0,0,0.3);
    scale:1.1;
    border-color:rgb(117, 6, 151);
    border-width:3px;
}

.info .next_page_btn button{
    padding:1rem 1.5rem;
    font-family: 'Poppins',sans-serif;
    background-color: #868282;
    font-size:1.5rem;
    font-weight:600;
    border-radius: 0.8rem;
    border:none;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.5);
    transition:background-color 200ms ease,
                transform 200ms ease,
                color 200ms ease;
}

.info .next_page_btn button:active{
    transform:translateZ(-10px);
}

.info .next_page_btn button:hover{
    background-color: black;
    color:white;
}